@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bg: #000;
  --text: #f5f5f5;
  --text-90: #f5f5f590;
  --text-primary: #0ad8c9;
  --border-primary: #0ad8c9;
  --border-primary-70: #0ad8c970;
  --border-secondary: #16ffc0;
}

body {
  background-color: var(--bg);
  font-family: 'Fira Code', 'Courier New', monospace;
}

header,
main,
footer {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 0;
}

header .logo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  svg path {
    fill: var(--text-primary);
  }
}

header .nav {
  width: 100%;
  display: flex;
  color: var(--text);
  align-items: end;

  .home {
    color: var(--border-primary);
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: -3px;
    cursor: pointer;
    line-height: 1;
  }
}
header .nav .nav-menu {
  display: flex;
  flex: 1;
  gap: 70px;
  justify-content: center;

  li {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      color: var(--border-primary);
    }
  }
}

header .nav .auth {
  display: flex;
  justify-content: end;
  gap: 10px;
  width: 130px;

  button {
    color: var(--text);
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: var(--border-primary);
    }
  }
}

.swiper {
  max-width: 1024px;
  height: 400px;
  position: relative;
  margin-bottom: 1rem;
}

.swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;

  object-fit: cover; /* fill 대신 cover 사용 */
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  padding: 10px;
  width: 100%;

  .comment {
    color: var(--text);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
  }

  .info {
    color: var(--text-90);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;

    &:hover {
      color: var(--border-primary);
    }
  }
}
